.container{
    align-content: center;
    margin: 5%;
    height: 80vh;

}

.container-header{
    text-align: center;
    color: blue;
}

.container-item{
    text-align: left;
    color:darkgrey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    display: block;
}

.container-item-inline{
    text-align: left;
    color:darkgrey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    display: flex;
}
.container-item h1{
    text-align: center;
    color: red;
}

.container-item input{
    text-align: left;
    color:darkgrey;
    display: block;
    border-width: 0px 0px 0px 0px
}

.container-item select{
    text-align: left;
    color:darkgrey;
    display: block;
}

.container-item #idAdd{
    text-align: center;
    font-size: 12px;
    background-color: skyblue;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.container-item #idDelete{
    text-align: center;
    font-size: 12px;
    background-color: orangered;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.outer-div{
    text-align: left;
    color:darkgrey;
    display: flex;
}

.inner-div1{
    width: 70%;
    color:darkgrey;
    display: inline-block;
}

.inner-div2{
    width: 30%;
    float: right;
    color:darkgrey;
}
